{% extends 'base.html' %}
{%block title%}
    Login
{%endblock%}

{% block content %}

<h1>Login</h1>
<br>

<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button class="btn btn-secondary" type="submit">Login</button>
    </form>    
</div>
<br>
Not registered ? Sign up <a href="{% url 'register' %}">here</a>

{% endblock %}

