{% extends 'base.html' %}
{%block title%}
    Create a new category
{%endblock%}

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Category</h1>
    <br>
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary" type="submit">Add Category</button>
            <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </form>    
    </div>
{% else %}
    <strong>You're not allowed here!</strong>
    <br><a href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Back</button></a>
{% endif %}

{% endblock %}

