{% extends 'base.html' %}


{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{post.post_date}},by {{ post.author.first_name }} {{post.author.last_name}} 
        
        {% if user.is_authenticated %}
        - <small>
            <a href="{% url 'update-post' post.pk %}">[Edit]</a>
            <a href="{% url 'delete-post' post.pk %}">[Delete]</a>
        </small>
        {% endif %}
        <br>
    {{ post.body|slice:'250'|safe }}
    </li>
{% endfor %}
</ul>

{% endblock %}

